h4 =@paper.set_number
.col-md-12
	=form_for [:admin, @paper] do |f|
		-if @questions.present?
			table.table
				thead
					tr
						th scope="col"  #
						th scope="col"  Body
						th scope="col"  Type
						th scope="col"  Attach to this 
				tbody
					-@questions.each_with_index do |question,index|
						tr
							th scope="row" =index  
							td =truncate question.body, length: 100
							td =question.question_type 
							td 
								=check_box_tag "paper[question_ids][]", question.id, @paper.question_ids.include?(question.id)
		=f.submit "update paper"		