.col-md-12
	-if @papers.present?
		-@papers.each do |paper|
			.card.col-md-4
			  .card-body
			    h5.card-title Paper set
			    h6.card-subtitle.mb-2.text-muted.capital_text =paper.name
			    h6.card-subtitle.mb-2.text-muted =paper.set_number
			    
			    a.card-link href=edit_admin_paper_path(paper)  Edit Set
			    a.card-link href=admin_paper_path(paper) View Set

.col-md-6
	.panel.panel-default
		.panel-heading
			|Create new Paper Set
		.panel-body	
			=form_for [:admin, Paper.new] do |f|
				.form-group
					=f.label :name
					=f.text_field :name , class:"form-control"
				.form-group	
					=f.submit "Create paper", class:"btn btn-primary"

.col-md-6
	.panel.panel-default
		.panel-heading
			|Top 10 high scored candidates overall
		.panel-body	
			-if PaperAttempt.over_all_10.blank?
				|No user participated in it yet.
			-else
				ul
				-PaperAttempt.over_all_10.each do |attempt|
					li 
						|#{attempt.user.try(:email)} : #{attempt.final_score} 
						br
						small paper #{attempt.paper.try(:set_number)}
			