.col-md-6
	.panel.panel-default
		.panel-heading
			|Top 10 high scored candidates
		.panel-body	
			-if @paper.top_10_user.blank?
				|No user participated in it yet.
			-else
				ul
				-@paper.top_10_user.each do |attempt|
					li 
						|#{attempt.user.try(:email)} : #{attempt.final_score}
			