<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
      </li>
      <%-if current_user%>
        <%-if current_user.admin? %>
          <li class="nav-item">
            <a class="nav-link" href="<%=admin_papers_path%>">Papers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%=admin_questions_path%>">Questions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%=admin_users_path%>">Users</a>
          </li>
        <%-end%>  
      <%-else%>
        <li class="nav-item">
          <a class="nav-link " href="/users/sign_in">Login</a>
        </li>
      <%-end%>  
    </ul>
  </div>
</nav>
