.col-md-12
	-if @papers.blank?
		.alert.alert-warning 
			| No paper found
	-else
		-@papers.each do |paper|
			.card.col-md-4
			  .card-body
			    h5.card-title Paper set
			    h6.card-subtitle.mb-2.text-muted.capital_text =paper.name
			    h6.card-subtitle.mb-2.text-muted =paper.set_number

			    a.card-link href=participate_paper_path(paper)  Participate
			    a.card-link href=result_paper_path(paper) View RESULT
