.form-group	
	=f.label :question_text
	=f.text_area :body, 	class:"form-control", required: true
.form-group	
	=f.label :type_of_question
	=f.select :question_type, options_for_select(Question.question_types.keys, selected: @question.question_type),{prompt: "select"}, {class:"form-control", required: true}

hr
h5 Option set
