-if option.persisted?
	=hidden_field_tag "question[options_attributes][][id]", option.id
.row
	.col-md-9
		=text_area_tag "question[options_attributes][][body]", option.try(:body), class:"form-control", placeholder: "Option text here"
	.col-md-3
		label
			|Click if correct 
			=check_box_tag "question[options_attributes][][is_correct]", true, option.is_correct
br