.col-md-8.offset-md-2
	.panel.panel-default
		.panel-heading
			|Create new question
		.panel-body
			=form_for [:admin, @question] do |f|
				=render "form", f:f
				-if @question.options.present?
					-@question.options.each do |option|
						=render "option", option:option
				=f.submit "Update question"
					
