=link_to "create new", new_admin_question_path, class:"btn btn-primary"

.col-md-12
	-if @questions.present?
		table.table
			thead
				tr
					th scope="col"  #
					th scope="col"  Body
					th scope="col"  Number of options
					th scope="col"  Type
			tbody
				-@questions.each do |question|
					tr
						th scope="row"  
						td =truncate question.body, length: 20
						td =question.options.try(:count)
						td =question.question_type 
						td 
							=link_to "remove", admin_question_path(question), method: :delete, class:"btn btn-danger"
							=link_to "edit", edit_admin_question_path(question), class:"btn btn-success"
					