.col-md-8.offset-md-2
	.panel.panel-default
		.panel-heading
			|Create new question
		.panel-body
			=form_for [:admin, @question] do |f|
				=render "form", f:f
				-(0..3).each do |i|
					=render "option", option: Option.new
				=f.submit "Create question"
					
