-questions = @paper.questions
.container
	h3 =@paper.set_number
	.col-md-12	
		.border
			-if questions.blank?
				.alert.alert-warning No questions found
			-else 
				ol
					=form_for "paper_attempt", url: answer_paper_path(@paper), method: :patch do |f| 
						=hidden_field_tag 'paper_attempt_id', @attempt.id
						-questions.each do |question|
							li
								h4=question.body.titleize
								ul
									-question.options.each do |option|
										li
											label
												=check_box_tag "paper_attempt[paper_attempt_answers_attributes][][option_id]", option.id
												| &nbsp;
												=option.body
						=f.submit "Complete quiz"							

