.container
	.col-md-12
		-if @users.blank?
			|No user found.
		-else
			table.table
				thead
					tr
						th scope="col"  #
						th scope="col"  Email
						th scope="col"  Paper attempted
						th scope="col"  Scores
				tbody
					-@users.each do |user|
						tr
							th scope="row"  
							td =user.email
							td =user.paper_attempts.count
							td =user.paper_attempts.pluck(:final_score).join(', ')
							
							
						